*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
a:link{
    color: #0099cc;
}
a:visited{
    color: #ff4444;
}
a:hover{
    color: #4488ee;
}


html{
    font-size: 16px;
    font-family: Meiryo, sans-serif;
}
body{
    background: linear-gradient(#d6d6d6, #ececec 15px, #fff 95px);
    background-repeat: no-repeat;
    word-wrap: break-word;
    margin: 0 auto;
    padding: 4rem 2rem;
    max-width: 55rem;
}
