.tagcloud {
    margin: 60px auto;
    width: 720px;
	padding: 0;
	list-style: none;
    text-align: center;
}
.tagcloud li {
	display: inline-block;
	margin: 7px 7px 7px 0;
	padding: 0;
}
.tagcloud a {
	display: inline-block;
	height: 34px;
	line-height: 34px;
	padding: 0 10px;
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 3px;
	color: #333;
	font-size: 16px;
    letter-spacing: 0;
	text-decoration: none;
	transition: 0.2s;
}
.tagcloud a:hover {
	background-color: #3498db;
	border: 1px solid #3498db;
	color: #fff;
}
