*{
    box-sizing: border-box;
}

/*
縦にぴっちりポイント
1. 高さを有効化するために、すべての親要素に高さ指定が必要(htmlまでさかのぼる)。もしくは、100vh
2. display:flex と flex-direction:column で、子要素を縦並びにできる
3. 縦いっぱいに引き延ばしたい子要素には flex:1
*/

body{
    padding: 0;
    margin: 0;
}
.tab{
    height: 100vh;
    padding: 8px;
    display: flex;
    flex-direction: column;
}
.tab > input[type="submit"]{
    text-decoration: none;
    text-align: center;
    padding: 9px 15px 8px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #5ba825;
    background: linear-gradient(to bottom, #84be5c 0%, #84be5c 66%, #5ba825 66%, #5ba825 100%);
    border: 1px solid #377d00;
    border-radius: 5px;
    line-height: 1;
    vertical-align: middle;
    font-family: Meiryo, sans-serif;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
}



#tab-content-editor.tab-selected{
    display: flex;
    flex-direction: column;
    flex: 1;
}
#tab-content-editor > div{
    display: flex;
    border: none;
    margin: 0 0 5px 0;
    padding: 0;
    height: 36px;
}
#tab-content-editor label{
    width: 100px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: 1px solid #0077b3;
    background-color: #0081c2;
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    font-family: Meiryo, sans-serif;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
#tab-content-editor input[type="text"]{
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 5px 5px 5px rgba(200,200,200,0.2)inset;
    border: 1px solid #888888;
    padding: 6px 6px 3px 12px;
    font-size: 14px;
    flex: 1;
}
#tab-content-editor textarea{
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(200,200,200,0.2) inset;
    border: 1px solid #888888;
    padding: 14px 10px 5px 14px;
    font-size: 15px;
    font-family: 'MS Gothic', Meiryo, sans-serif;
    width: 100%;
    flex: 1;
}



#tab-content-preview.tab-selected{
    display: flex;
    flex: 1;
}
#tab-content-preview.tab-selected > iframe{
    flex: 1;
}



#tab-content-history.tab-selected{
    display: flex;
    flex: 1;
}
#tab-content-history.tab-selected > iframe{
    flex: 1;
}
#history-select label{
    border-bottom: dashed 1px #aaa;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    user-select: none;
}
#history-select input{
    display:none;
}
#history-select input:checked + span{
    background-color: #eeffee;
}



#tab-content-delete input{
    text-decoration: none;
    text-align: center;
    padding: 9px 15px 8px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #ff2600;
    background: linear-gradient(to bottom, #ff6044 0%, #ff6044 66%, #ff2600 66%, #ff2600 100%);
    border: 1px solid #bf1d00;
    border-radius: 5px;
    line-height: 1;
    vertical-align: middle;
    font-family: Meiryo, sans-serif;
    cursor: pointer;
}
