.entry-body{
    display: block;
    font-family: "BIZ UDPゴシック", Meiryo, sans-serif;
    font-size: 18px;
    line-height: 1.65;
}

.entry-body img{
    max-width: 100%;
    height: auto;
    box-sizing: content-box;
}

.entry-body table{
    border-collapse: collapse;
    margin: 40px auto;
    text-align: center;
    line-height: 1.6;
}
.entry-body caption{
    margin-bottom: 8px;
    text-align: center;
    font-weight: bold;
}
.entry-body th{
    background-color: #e6e6e6;
    border: solid 1px #bbb;
    padding: 2px 12px;
    font-weight: normal;
    text-align: center;
}
.entry-body td{
    border: solid 1px #bbb;
    padding: 3px 8px;
    font-size: 95%;
}
.entry-body ul{
    list-style-type: disc;
}
.entry-body li{
    line-height: 1.7;
}
.entry-body h2{
    letter-spacing: -1px;
    color: #333;
    font-weight: bold;
    font-size: 22px;
    display: block;
    letter-spacing: 0;
    margin-top: 40px;
    margin-bottom: 20px;
}
.entry-body h3{
    letter-spacing: -1px;
    color: #666;
    font-weight: bold;
    font-size: 16px;
    display: block;
    margin-top: 30px;
    margin-bottom: 20px;
}
.entry-body hr{
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 40px auto;
    width: 80%;
}
