
body > article{
}


.entry{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.entry-header{
    margin-bottom: 3rem;
}

.entry-title{
    letter-spacing: -1px;
    color: #444;
    font-size: 26px;
    font-family: Meiryo, "MS PGothic", sans-serif;
    font-weight: bold;
    border-bottom: solid 1px #333;
    box-shadow: 0 1px 0 #eaeaea;
    padding-left: 2px;
    padding-bottom: 2px;
    margin-bottom: 0;
}
[data-status="close"] .entry-title::before{
    content: '[非公開]';
    margin-right: 0.5rem;
}
.entry-title a:link{
    color: #444;
}
.entry-title a:visited{
    color: #444;
}
.entry-title a:hover{
    color: #333;
}

.entry-info{
    text-align: right;
    margin-top: 5px;
    padding: 0;
    line-height: 1.2;
    color: #444;
}
.entry-info > li{
    display: inline-block;
    padding: 0 6px 0 18px;
    font-size: 0.9rem;
    letter-spacing: 0;
    vertical-align: middle;
    line-height: 20px;
}
.entry-date{
    background: left center no-repeat url('../img/date.png');
}
.entry-category{
    background: left center no-repeat url('../img/category.png');
}
.entry-author{
    background: left center no-repeat url('../img/author.png');
}
.entry-update{
    background: left center no-repeat url('../img/update.png');
}
[data-admin=''] .entry-update{
    display: none;
}
.entry-pageview{
    background: left center no-repeat url('../img/pageview.png');
}
.entry-comment{
    background: left center no-repeat url('../img/comment.png');
}
